<section class="form-popup" style="display: none">
  <div class="form-popup__container">
    <button type="button" class="form-popup__close"><span>Закрыть</span></button>
    <h2>Записаться на&nbsp;экскурсию</h2>
    <form>
      <input type="text" name="name" id="name" required placeholder="Как вас зовут">
      <input type="text" name="city" id="city" required placeholder="Откуда вы">
      <input type="text" name="date" id="date" required placeholder="Дата приезда" readonly>
      <input type="phone" name="phone" id="phone" required placeholder="Телефон">
      <input type="email" name="mail" id="mail" required placeholder="E-mail">
      <button type="submit">Записаться на экскурсию</button>
    </form>
    <p>Нажимая на кнопку, вы соглашаетесь с <a>политикой обработки персональных данных</a></p>
  </div>
</section>
