<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
        <ul class="header__menu">
          <li>
            <a href="#">О проекте</a>
          </li>
          <li>
            <a href="#">Сервисы</a>
          </li>
          <li>
            <a href="#">Записаться на бесплатную экскурсию</a>
          </li>
        </ul>

      <button class="header__burger">
          <img src="img/burger.svg" alt="burger">
        </button>
        <button class="header__close">
          <img src="img/close.svg" alt="close">
        </button>
      </nav>
  </div>
  <div class="header__banner banner">
    <div class="banner__container container">
      <p>Добро пожаловать в</p>
      <img src="img/banner-logo.svg" alt="лого">
      <p>проект для тех, кто приехал в город ненадолго, но&nbsp;хочет его узнать поближе</p>
      <div class="banner__form">
        <form>
          <input type="text" id="datepicker" readonly placeholder="Дата &#9662">
          <div id="dd" class="wrapper-dropdown" tabindex="1">
            <input class="visually-hidden" name="select" id="select-input">
            <span>Кол-во людей &#9662;</span>
            <ul class="dropdown">
              <li><a>1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li><a>4</a></li>
            </ul>
          </div>
          <button type="submit">Записаться</button>
        </form>
      </div>
      <div class="banner__text">
        Для всех гостей города каждую субботу с 23 апреля по 29 октября 2022 г., мы проводим <a>бесплатную обзорную экскурсию.</a>
      </div>
    </div>
  </div>

</header>
