<section class="transport-popup transport-popup--green" style="display: none">
  <div class="transport-popup__container">
    <h2>На автомобиле</h2>
    <img src="img/transport-1.png" alt="иллюстрация">
    <p>По территории Рязанской области проходят две автомобильные дороги федерального значения: <b>М5 «Урал» (Москва — Челябинск)</b> и <b>М6 «Каспий» (Москва — Астрахань).</b>
    </p>
    <p>Маршрут от Москвы до Рязани на машине составит <b>примерно 198 км.</b>
    </p>
    <a class="transport-popup__strong-link">Проложить маршрут</a>
  </div>
</section>
