<section class="transport-popup transport-popup--pink" style="display: none">
  <div class="transport-popup__container">
    <button type="button"><span>Закрыть</span></button>
    <h2>На поезде</h2>
    <img src="img/transport-2.png" alt="иллюстрация">
    <p>Из Москвы до Рязани можно добраться поездами дальнего следования, электричками и поездами-экспрессами с Казанского вокзала.
    </p>
    <b>Самые удобные:</b>
    <ul>
      <li>Фирменный двухэтажный поезд дальнего следования Москва - Воронеж. Вы прибываете на станцию Рязань-2  (до места встрече с экскурсоводом 20 мин. пешком);</li>
      <li>Пригородный экспресс Москва - Рязань. Вы прибываете на станцию Рязань-1 (до места встрече с экскурсоводом 8 мин. пешком).</li>
    </ul>
    <p>Посмотреть расписание можно <a class="transport-popup__strong-link">на сайте РЖД</a></p>
  </div>
</section>
