.path {
  padding-bottom: 87px;
  padding-top: 50px;

  @media (max-width: 1400px) {
    padding-bottom: 20px;
  }

  @media (max-width: 1023px) {
    padding-top: 70px;
  }

  & h2 {
    margin: 0;
    margin-right: 40px;
    font-size: 40px;
    font-weight: 400;
    line-height: 135%;
    color: #282828;
    max-width: 590px;
    display: block;
    margin-bottom: 25px;

    @media (max-width: 1023px) {
      font-size: 30px;
    }
  }

  & img {
    @media (max-width: 1023px) {
      max-width: 177px;
      height: auto;
    }
  }

  a, button {
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: 0.2s;
    }
  }

  & button {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #FFFFFF;
    background: #E40321;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    white-space: nowrap;
    position: absolute;
    top: -2px;
    right: 266px;
    text-align: center;

    @media (max-width: 1400px) {
      left: 10px;
      bottom: 40px;
      top: auto;
      right: auto;
      padding: 15px 0;
      width: 300px;
    }

    @media (max-width: 767px) {
      left: 10px;
      bottom: 40px;
      border-radius: 4px;
      top: auto;
      right: auto;
      padding: 15px 0;
      width: 100%;
      max-width: calc(100% - 20px);
    }
  }

  & p {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #373737;
    margin: 0;

    @media (max-width: 1300px) {
      font-size: 14px!important;
    }
  }

  &__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 36%;

    @media (max-width: 1400px) {
      max-width: 100%;
      padding-right: 20px;
      width: 86%;
    }

    & b {
      font-weight: 700;
      font-size: 20px;
      line-height: 145%;
      color: #373737;
      margin-bottom: 8px;

      @media (max-width: 1400px) {
        font-size: 18px;
        margin-bottom: 11px;
        font-weight: 500;
      }
    }

    & span {
      font-weight: 400;
      font-size: 18px;
      line-height: 145%;
      color: #373737;

      @media (max-width: 1400px) {
        font-size: 14px;
      }
    }

    &--1 {
      top: 76px;
      left: 94px;

      @media (max-width: 1400px) {
        top: 50px;
        left: 40px;
        padding-right: 10px;
      }
    }

    &--2 {
      top: 224px;
      left: 114px;

      @media (max-width: 1400px) {
        left: 40px;
        top: 176px;
        padding-right: 10px;
      }
    }

    &--3 {
      top: 114px;
      right: 96px;

      @media (max-width: 1400px) {
        left: 40px;
        top: 470px;
      }
    }

    &--4 {
      top: 276px;
      right: 70px;

      @media (max-width: 1400px) {
        left: 40px;
        top: 300px;
      }
    }
  }

  &__content {
    position: relative;
    background: url("../img/path.svg") no-repeat 20px 20px;
    min-height: 410px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1400px;


    @media (max-width: 1400px) {
      background: url("../img/path-mob.svg") no-repeat 0 50px;
      margin-top: 58px;
      min-height: 700px;
    }
  }
}
